.modal {
    position: fixed;
    background-color: rgba(113, 113, 113, 0.8); /* semi-transparent background */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    width: 70vw;
    padding: 20px;
    position: relative;
	transition: transform 0.2s linear;
	transform: translate(0px, -100vh);
	display: relative;
	margin: auto;
	top: 36vh;
}

.modal-content.show {
	transform: translate(0px, 0vh);
}

.close-modal {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer; /* Change cursor to pointer */
}

#openModal {
    margin: 20px; /* Add some spacing */
}